#---------------------------------------------------------
# Specific templates configuration file
# 4 values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use
#---------------------------------------------------------

Entity Bean class           ; ${BEANNAME}.java     ; ${SRC}/org/demo/vo/bean ; vo_bean.vm
Entity DAO class            ; ${BEANNAME}DAO.java  ; ${SRC}/org/demo/vo/dao  ; vo_dao.vm
Entity List class           ; ${BEANNAME}List.java ; ${SRC}/org/demo/vo/list ; vo_list.vm
Entity XML mapper class     ; ${BEANNAME}Xml.java  ; ${SRC}/org/demo/vo/xml  ; vo_xml.vm

Screen Data class           ; ${BEANNAME}Data.java ; ${SRC}/org/demo/screen/${BEANNAME_LC} ; vo_screen_data.vm
Screen Manager class        ; ${BEANNAME}Mgr.java  ; ${SRC}/org/demo/screen/${BEANNAME_LC} ; vo_screen_mgr.vm

Screen Map (JSP)            ; ${BEANNAME}.jsp      ; ${WEB}/screen/${BEANNAME_LC}; vo_screen_map_jsp.vm
Screen Map (JSPX-XML)       ; ${BEANNAME}.jspx     ; ${WEB}/screen/${BEANNAME_LC}; vo_screen_map_jspx.vm
Screen Behavior(JavaScript) ; ${BEANNAME}.js       ; ${WEB}/screen/${BEANNAME_LC}; vo_screen_js.vm

Screen Search Proc class    ; ${BEANNAME}Proc.java      ; ${SRC}/org/demo/screen/${BEANNAME_LC} ; vo_screen_search_proc.vm
Screen Search renderer (jsp); ${BEANNAME_LC}_search.jsp ; ${WEB}/renderer/                      ; vo_screen_search_renderer.vm

HTML documentation          ; ${BEANNAME}.html     ; doc/html ; vo_doc_html.vm 
