//----------------------------------------------------------------------------------------------------
/*
 * Client Side behavior for ${beanClass.name} entity ( JavaScript ) 
 * Created on $today.date ( Time $today.time )
 */
//----------------------------------------------------------------------------------------------------

function actionOpen()
{
	alert ( "TRACE : actionOpen()  ");
	actions.doOpen();
}
//----------------------------------------------------------------------------------------------------
function actionClose()
{
	alert ( "TRACE : actionClose()  ");
	actions.doClose();
}
//----------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------
function actionSet()
{
	alert ( "TRACE : actionSet()  ");
	actions.doSet();
}
//----------------------------------------------------------------------------------------------------
function actionGet()
{
	alert ( "TRACE : actionGet()  ");
	var response = actions.doGet(); // Update Screen (by default)
	//response.show();
	//var response = actions.doGet(true); // Update Screen 
	//var response = actions.doGet(false); // Do NOT update screen
	
	// The code below replaces "actions.doGet_DataVoid()"
	if ( response.isOK() && response.dataVoid() )
	{
		alert ( "No data !" );	
	}	
}
//----------------------------------------------------------------------------------------------------
function actionClear()
{
	alert ( "TRACE : actionClear()  ");
	actions.doClear(); // Update Screen (by default)
	//actions.doClear(false); // Clear context but DO NOT Update Screen	
}

//----------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------
function actionLoad()
{
	alert ( "TRACE : actionLoad()  ");
	setKeyParam();
	var response = actions.doLoad(); // Update Screen (by default)
	if ( response.dataNotFound() )
	{
		alert ( "Data not found !" );
	}
}
//----------------------------------------------------------------------------------------------------
function actionSave()
{
	alert ( "TRACE : actionSave()  ");
    //actions.setElementToRetrieve("element_name");
    //actions.setViewToRetrieve("view_name");
    actions.doSave();
}
//----------------------------------------------------------------------------------------------------
function actionInsert()
{
	alert ( "TRACE : actionInsert()  ");
    //actions.setElementToRetrieve("element_name");
    //actions.setViewToRetrieve("view_name");
    actions.doInsert();
}
//----------------------------------------------------------------------------------------------------
function actionUpdate()
{
	alert ( "TRACE : actionUpdate()  ");
	//actions.setElementToRetrieve("element_name");
    //actions.setViewToRetrieve("view_name");
	actions.doUpdate();
}
//----------------------------------------------------------------------------------------------------
function actionDelete()
{
   	alert ( "TRACE : actionDelete()  ");
   	setKeyParam(); // Call setKeyParam() to delete by Primary Key (else delete current)
   	actions.doDelete(); // Clear Screen (by default)
   	//actions.doNotClearContextData();
    //actions.setElementToRetrieve("element_name");
    //actions.setViewToRetrieve("view_name");
    //actions.doDelete(true, true); // Clear Screen && Update Fields & Views
}

//----------------------------------------------------------------------------------------------------
// Set the PK values as request parameters 
//----------------------------------------------------------------------------------------------------
function setKeyParam()
{
#foreach( $attr in $beanClass.keyAttributes )
## actions.setParameter( "$attr.name", fwkGetValue("$attr.name") );
## actions.setParameter( "$attr.name.toLowerCase()", fwkGetValue("$attr.name.toLowerCase()") );
    actions.setParameter( "$attr.name", fwkGetValue("$attr.name") );
#end
    actions.showParameters();
}
//----------------------------------------------------------------------------------------------------
function clearScreen()
{
	theScreen.clear();
}
//----------------------------------------------------------------------------------------------------
