//----------------------------------------------------------------------------------------------------
/*
 * Client Side behavior for ${beanClass.name} entity ( JavaScript ) 
 * Created on $today.date ( Time $today.time )
 * This JS file is a specialization the standard functions 
 * defined in 'standard_actions.js' and included in the screen template
 */
//----------------------------------------------------------------------------------------------------
## ########## Concat the PK fields to produce something like "code, other"
#set ( $pkfields = "" )
#foreach( $field in $beanClass.keyAttributes )
#if ( $pkfields != "" ) #set ( $pkfields = $pkfields.concat(", ") ) #end 
#set ( $pkfields = $pkfields.concat("$field.name") )
#end
## ##########

//----------------------------------------------------------------------------------------------------
// Set the PK values as request parameters 
//----------------------------------------------------------------------------------------------------
function setKeyParam()
{
#foreach( $attr in $beanClass.keyAttributes )
## actions.setParameter( "$attr.name", fwkGetValue("$attr.name") );
## actions.setParameter( "$attr.name.toLowerCase()", fwkGetValue("$attr.name.toLowerCase()") );
    actions.setParameter( "$attr.name", fwkGetValue("$attr.name") );
#end
    // actions.showParameters();
}
//----------------------------------------------------------------------------------------------------
// Load an item after a selection in a list (this function is called by the search renderer) 
//----------------------------------------------------------------------------------------------------
function itemSelected($pkfields) // called when an item is selected in the list ( search view )
{
	//alert("itemSelected()...");
	var params = new Object();
#foreach( $attr in $beanClass.keyAttributes )
	params["$attr.name"] = $attr.name ;
#end
	actionLoad(params);
	fwkSetHidden("searchPanel");
}
//----------------------------------------------------------------------------------------------------
function actionSearch()
{
	//alert("actionSearch() ...");
	// Call the standard "actionExecSearch" method with the following parameters
	// . the renderer to use to generate the view content
	// . the container where to put the view content
	if ( actionExecSearch( "/renderer/${beanClass.name.toLowerCase()}_search.jsp", "searchContainer" ) )
	{
		fwkSetVisible("searchPanel");
	}
}
//----------------------------------------------------------------------------------------------------
